<div fxLayout="row" style="background-color: #f5f8fd;" >
<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center">
   <h2>Our Portfolio</h2>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center-center">
    <mat-tab-group>
      <mat-tab label="All">
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div fxLayout="column wrap" fxLayoutGap="20px" fxFlex="20" fxFlexAlign="start">
          <div fxLayout="row"  >
            <img
              src="../../../assets/img/portfolio/app1.jpg"
              width="100%"
              height="auto"
            />
          </div>
          <div fxLayout="row">
            <img
              src="../../../assets/img/portfolio/app3.jpg"
              width="100%"
              height="auto"
            />
          </div>
          <div fxLayout="row">
            <img
              src="../../../assets/img/portfolio/card1.jpg"
              width="100%"
              height="auto"
            />
          </div>
        </div>
        <div fxLayout="column wrap" fxLayoutGap="20px" fxFlex="20">
          <div fxLayout="row">
            <img
              src="../../../assets/img/portfolio/web3.jpg"
              width="100%"
              height="auto"
            />
          </div>
          <div fxLayout="row">
            <img
              src="../../../assets/img/portfolio/web2.jpg"
              width="100%"
              height="auto"
            />
          </div>
          <div fxLayout="row">
            <img
              src="../../../assets/img/portfolio/web1.jpg"
              width="100%"
              height="auto"
            />
          </div>
        </div>
        <div fxLayout="column wrap" fxLayoutGap="20px" fxFlex="20" fxFlexAlign="start">
          <div fxLayout="row">
            <img
              src="../../../assets/img/portfolio/app2.jpg"
              width="100%"
              height="auto"
            />
          </div>
          <div fxLayout="row">
            <img
              src="../../../assets/img/portfolio/card2.jpg"
              width="100%"
              height="auto"
            />
          </div>
          <div fxLayout="row">
            <img
              src="../../../assets/img/portfolio/card3.jpg"
              width="100%"
              height="auto"
            />
          </div>
        </div>
        </div>
      </mat-tab>
      <mat-tab label="App">
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
              <div fxLayout="column" fxLayoutGap="20px" fxFlex="20">
                  <img
                    src="../../../assets/img/portfolio/app1.jpg"
                    width="100%"
                    height="auto"
                  /></div>
                <div fxLayout="column" fxFlex="20" fxFlexAlign="start">
                  <img
                    src="../../../assets/img/portfolio/app2.jpg"
                    width="100%"
                    height="auto"
                  />
                </div>
                <div fxLayout="column" fxFlex="20" fxFlexAlign="start">
                  <img
                    src="../../../assets/img/portfolio/app3.jpg"
                    width="100%"
                    height="auto"
                  />
                </div>
              </div>
      </mat-tab>
      <mat-tab label="Card">
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
              <div fxLayout="column" fxLayoutGap="20px" fxFlex="20">
                  <img
                    src="../../../assets/img/portfolio/card2.jpg"
                    width="100%"
                    height="auto"
                  /></div>
                <div fxLayout="column" fxFlex="20" fxFlexAlign="start">
                  <img
                    src="../../../assets/img/portfolio/card1.jpg"
                    width="100%"
                    height="auto"
                  />
                </div>
                <div fxLayout="column" fxFlex="20" fxFlexAlign="start">
                  <img
                    src="../../../assets/img/portfolio/card3.jpg"
                    width="100%"
                    height="auto"
                  />
                </div>
              </div>
      </mat-tab>
      <mat-tab label="Web">
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
              <div fxLayout="column" fxLayoutGap="20px" fxFlex="20" fxFlexAlign="start">
                  <img
                    src="../../../assets/img/portfolio/web3.jpg"
                    width="100%"
                    height="auto"
                  /></div>
                <div fxLayout="column" fxFlex="20" fxFlexAlign="start">
                  <img
                    src="../../../assets/img/portfolio/web2.jpg"
                    width="100%"
                    height="auto"
                  />
                </div>
                <div fxLayout="column" fxFlex="20" fxFlexAlign="start">
                  <img
                    src="../../../assets/img/portfolio/web1.jpg"
                    width="100%"
                    height="auto"
                  />
                </div>
              </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
</div>