<div
  class="purple"
  fxLayout="row wrap" 
  style="background-color: #2d2b46;color: #fff;"
>
  <h3>Call To Action</h3>
  <br />
  <div fxLayout="row wrap" fxLayoutAlign="center-center">
    <div fxLayout="column" fxFlex="70">
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div fxLayout="column" fxFlex="10">
      <button mat-button>Call To Action</button>
    </div>
  </div>
</div>
<div fxLayout="row">
  <div fxLayout="column">
<img src="../../../assets/img/features-1.svg" width="100%" height="auto">
  </div>
  <div fxLayout="column">
<h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
<p>Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.</p>
<br>
<p>Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.</p>
</div>
</div>
<div fxLayout="row">
    <div fxLayout="column">
  <h3>  Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h3>
  <p>Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.</p>
  <br>
  <p>Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.</p>
  </div>
  <div fxLayout="column">
      <img src="../../../assets/img/features-2.svg" width="100%" height="auto">
        </div>
  </div>