<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1>Why choose us?</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <p>
      Laudem latine persequeris id sed, ex fabulas delectus quo. No vel
      partiendo abhorreant vituperatoribus.
    </p>
  </div>
  <div fxLayout="row">
    <div fxLayout="column">
      <img src="../../../assets/img/why-us.jpg" width="100%" height="auto" />
    </div>
    <div fxLayout="column">
      <p>
        Molestiae omnis numquam corrupti omnis itaque. Voluptatum quidem
        impedit. Odio dolorum exercitationem est error omnis repudiandae ad
        dolorum sit.
      </p>
      <br />
      <p>
        Explicabo repellendus quia labore. Non optio quo ea ut ratione et
        quaerat. Porro facilis deleniti porro consequatur et temporibus. Labore
        est odio. Odio omnis saepe qui. Veniam eaque ipsum. Ea quia voluptatum
        quis explicabo sed nihil repellat..
      </p>
      <br />
      <div>
      <i class="fa fa-diamond" style="color: #f058dc"> <span class="diamond" style="color: black">
        Corporis doorem </span></i>
        <p>Commodi quia voluptatum. Est cupiditate voluptas quaerat officiis ex alias dignissimos et ipsum. Soluta at enim modi ut incidunt dolor et.</p>
      </div>
      <div>
        <i class="fa fa-object-group" style="color: #ffb774"> <span class="diamond" style="color: black">
          Eum ut aspernatur </span></i>
          <p>Molestias eius rerum iusto voluptas et ab cupiditate aut enim. Assumenda animi occaecati. Quo dolore fuga quasi autem aliquid ipsum odit. Perferendis doloremque iure nulla aut.</p>
        </div>
        <div>
          <i class="fa fa-language" style="color: #589af1"> <span class="diamond" style="color: black">
            Voluptates dolores</span></i>
            <p>Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur. Totam dolores ut enim ullam voluptas distinctio aut.</p>
          </div>
      </div>
  </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-around center" align="center">
        <div fxLayout="column">
          <span>274</span>
          <p>Clients</p>
        </div>
        <div fxLayout="column">
          <span>421</span>
          <p>Projects</p>
        </div>
        <div fxLayout="column">
          <span>1,364</span>
          <p>Hours Of Support</p>
        </div>
        <div fxLayout="column">
          <span>18</span>
          <p>Hard Workers</p>
        </div>
      </div>
  
  
</div>
