
<div fxLayout="row wrap" fxLayoutAlign="center center"  class="banner">
  <div class="intro" fxFlexOrder.lg="2" fxFlexOrder.md="2" fxFlexOrder.xl="2"
    fxLayout="column" fxFlex="40" fxFlex.md="40" fxFlex.lg="40" fxFlex.sm="80" fxFlex.xs="80"
  >
    <img src="../../../assets/img/intro-img.svg" max-width="100%"  [ngStyle.xs]="{height: '400px'}"
    [ngStyle.sm]="{height:'400px',margin:'0 0 40px'}"/>
  </div>
  <div fxFlex="40" fxFlex.md="40" fxFlex.lg="40" fxFlex.sm="80" fxFlex.xs="80"
    fxLayout="column" fxFlexOrder.sm="1" fxFlexOrder.xs="1" 

  >
  <div fxLayout="row" fxLayoutAlign.xs="center" fxLayoutAlign.sm="center">
    <h2 style="font-family: sans-serif;font-weight: 700;margin: 0 0 40px;color:#413e66;"  [ngStyle.xs]="{'font-size.px':30}" [ngStyle.sm]="{'font-size.px':40}" [ngStyle.md]="{'font-size.px':48}"
    [ngStyle.lg]="{'font-size.px':48}" [ngStyle.xl]="{'font-size.px':48}">
      Rapid Solutions <br />
      for Your <span style="color: #1bb1dc">Business!</span>
    </h2>
  </div>
    <div fxLayout="row" fxLayoutAlign.xs="center" fxLayoutAlign.sm="center">
      <button mat-button style="font-family: sans-serif;background-color: #1bb1dc;color:white;font-weight:500;padding:5px 40px">GET STARTED</button>
    </div>
  </div>
</div>