<div class="serve" fxLayout="column" Align="center" style="padding-bottom: 60px">
  <h1>Services</h1>
  <p>
    Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo<br>
    abhorreant vituperatoribus.
  </p>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="50px" style="margin-bottom: 50px">
    <div fxLayout="column" fxFlex="25">
      <mat-card>
        <div class="analy" style="background-color: #fceef3;border-radius:50%;width:fit-content">
        <span class="iconify" data-icon="ion-ios-analytics-outline" data-inline="false" style="color: #ff689b"></span>
      </div>
        <h2>Lorem Ipsum</h2>
        <p>
          Voluptatum deleniti atque corrupti quos dolores et quas molestias
          excepturi sint occaecati cupiditate non provident
        </p>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="25">
      <mat-card>
        <i class=""></i>
        <h2>Dolor Sitema</h2>
        <p>
            Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata
        </p>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="25">
      <mat-card>
        <i class=""></i>
        <h2>Sed ut perspiciatis</h2>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        </p>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="50px">
    <div fxLayout="column" fxFlex="25">
        <mat-card>
            <i class=""></i>
            <h2>Magni Dolores</h2>
            <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
          </mat-card>
    </div>
    <div fxLayout="column" fxFlex="25">
        <mat-card>
            <i class=""></i>
            <h2>Nemo Enim</h2>
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
            </p>
          </mat-card>
    </div>
    <div fxLayout="column" fxFlex="25">
        <mat-card>
            <i class=""></i>
            <h2>Eiusmod Tempor</h2>
            <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
            </p>
          </mat-card>
    </div>
  </div>
</div>
